<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Eat-Da-Burger App for Northwestern Coding Boot Camp 2017">
    <meta name="author" content="Darryl Mittlestaedt">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>Eat-Da-Burger App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>

      <div class="page-header col-md-12">
        <img src="public/assets/images/burger.png" alt="Eat-Da-Burger App">
        <h3>Eat-Da-Burger App</h3>
        <p></p>
      </div>

      {{{ body }}}

      <BR>
      <BR>

      <hr>

      <div class="page-header col-md-12">
        <h3>Blank Section</h3>
        <p>Put content here!</p>
      </div>

      <div>
      <BR>
      </div>

      <!-- /container -->
      <footer class="footer">
        <div class="container">
          <p> copyright © 2017</p>
        </div>
      </footer>
  </body>
</html>